*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: rgb(52, 6, 96);
}
.container {
    position: relative;
width: 400px;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
}